@CHARSET "ISO-8859-1";

#loginForm {
	margin-left: 30px;
	margin-right: 30px;
}

h1 {
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}

.insureAssistButton {
	color: #ffffff !important;
    font-size: 0.9em !important;
    text-align: center !important;
    border: none !important;
	margin-left: 30px;
	margin-right: 30px;
}

.acct-lgn-text-pos {
	color: #ffffff !important;
	font-size: 0.6em !important;
	text-align: center !important;
	border: none !important;
	background-color: #00B2EF !important;
}

.header {
	background-color: #00B2EF !important;
}

.logo-img {
	height: 32dp;
	width: 10dp !important;
}



#logIn {
	font-size: 15px;
	font-family: Times New Roman;
}

.insureAssistLoginLabel {
	font-size: 15px;
	font-family: Times New Roman;
}

#authenticatorLoginFormWrapper {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
}

#authenticatorLoginFormWrapper h1 {
	color: #303030;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
	padding: 80px 0 0;
}

.insureAssistLoginLabel {
	color: #303030;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 10px;
	padding: 60px 0 0;
}

#authenticatorLoginFormWrapper form label {
	display: none;
}

/*#authenticatorLoginFormWrapper form input {
	border: 1px solid #ccc;
	color: #707070;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 8px 0;
	padding: 5px;
}*/

#authenticatorLoginFormWrapper form input#login {
	background: -moz-linear-gradient(center top, #0088b8 5%, #005880 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0088b8
		), color-stop(1, #005880));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088b8',
		endColorstr='#005880');
	background-color: #0088b8;
	border: 1px solid #084870;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 12px;
	text-shadow: 1px 1px 0px #528ecc;
}

#authenticatorLoginFormWrapper form input#login:active {
	position: relative;
	top: 1px;
}

#authenticatorLoginFormWrapper form input#login:active {
	position: relative;
	top: 1px;
}

/* InsureAssistQuoteResult.html page details */
.quoteResultWrapper {
	background-color: #0088b8;
	color: #fff;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0px #528ecc;
	width: 100%;
	height: 30px;
}

#quoteResultButtonWrapper {
	margin: 20px;
	text-align: center;
}

#getYearlyPremiumWrapper {
	background-color: #F19027;
	color: #fff;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0px #528ecc;
	width: 100%;
	height: 30px;
}

#quoteResult {
	text-align: center;
}

#authenticatorQuoteFormWrapper form input#quickQuote {
	background: -moz-linear-gradient(center top, #0088b8 5%, #005880 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0088b8
		), color-stop(1, #005880));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088b8',
		endColorstr='#005880');
	background-color: #0088b8;
	border: 1px solid #084870;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 12px;
	text-shadow: 1px 1px 0px #528ecc;
}

.loginFooter {
	padding-bottom: 0px;
	position: fixed;
	margin-bottom: 0px;
	bottom: 0px;
	left: 20px;
	right: 0px;
	width: 100%;
}

.footerAttributes {
	margin-left: 10px;
}

.premiumValue {
	background: -moz-linear-gradient(center top, #0088b8 5%, #005880 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0088b8
		), color-stop(1, #005880));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088b8',
		endColorstr='#005880');
	background-color: #ffa500;
	border: 1px solid #084870;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 12px;
	text-shadow: 1px 1px 0px #528ecc;
	width: 120px;
}



.ui-field-contain, .no-field-separator {
	border-bottom-width: 0;
	margin: 1em 0;
	padding: 0;
}


#yearlyPremium {
	text-align: center;
	margin-left: 100px;
	font-size: 15px;
}

.insureAssistloginButton{
	background-color: rgb(255, 0, 255);
	font-size: 15px;
	font-family: Times New Roman;
}
//new css
.headerimg
{
	width:100% !important;
	background-color: none !important;
	margin-bottom:0px !important;
	padding-bottom:0px !important;
	display:inline-block;
	
		
}
.logo-img{
	height:25% !important;
	width:45% !important;
	margin-left:25% !important;
	
}
.topbar
{
	width:100% !important;
	color: #ffffff !important;
	background-color: #00B2EF !important;
	margin: 0px 0px 0px 0px !important;
	display:inline-block;
}
.footerimg
{
margin-left:40px !important;
height:40px !important;
}
.footer-img{
	display: block;
  width:30px !important;
  height:30px !important;
}
figure
{
	display:inline-block;
	margin:0px 0px 5px 5px;
	width:50px;
	height:10px !important;
}
figcaption
{
	font-size:8px;
}

/*modal start*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*end of modal*/

.error
{
	display:none;
	color:red;
	font-size: 0.9em !important;
}
/*end of new css*/







